/* Vars
----------------------------------------------------------------------------- */
$colorWhite: #fff;
$colorBlack: #000;
$colorBG: #f7f7f7;

$colorGray: #333333;
$colorGrayDark: #7c7c7c;
$colorLightGray: #e2e2e2;
$colorGreen: #9bcbc7;
$colorRed: #da5441;

/* Heigths */
$navbarMobile: 80px;
$navbarHeight: 220px;

/* Z-Index */
$zSm: 1;
$zMd: 5;
$zLg: 99;

/* Breakpoints */
$sm: 400px;
$mds: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
